@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/*CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #DC5F00;
    --secondary-color: #000000;
    --line-height: 1.7rem;
    --transition: 0.1s ease-in-out;
}

/*Smooth scroll effects */
html {
    scroll-behavior: smooth;
}

/*Resets; resets the whole margins to 0 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

/*Body styling */
body {
    font-family: "Roboto", sans-serf;
}

/*Items listed styling */
ul li {
    list-style-type: none;
}

/*Text decorators */
a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.Volleyball {
    color: var(--secondary-color);
}

/*Unchangeable */
.fas {
    color: var(--primary-color);
}

.fas:hover{
    color: #000000;
}

/*Make a navbar items appear at the top */
nav {
    background: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

.login-btn {
    padding: 10px 25px;
    font-size: inherit;
    font-weight: var(--bold-font);
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}   

.login-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    color: var(--secondary-color);
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.login-popup .form h2 {
    text-align: center;
    color: var(--secondary-color);
    margin: 10px 0 20px;
    font-size: 25px;
    cursor: default;
}

.login-popup .form .form-element {
    margin: 15px 0px;
}

.login-popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.login-popup .form .form-element input[type="text"],
.login-popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login-popup .form .form-element-row-remember-me-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.login-popup .form .form-element-row-remember-me-forgot-password .form-element {
    display: flex;
    gap: 5px;
    margin: 0;
    align-items: center;
}

.login-popup .form .form-element-row-remember-me-forgot-password a {
    font-size: 15px;
    font-weight: var(--bold-font);
}

.login-popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: var(--bold-font);
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
}

.login-popup .form .form-element button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.login-popup .form .signup-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 5px;
    cursor: default;
}

.login-popup .form .signup-link a {
    font-size: 15px;
    font-weight: var(--bold-font);
}
/* Hero section - Volleyball */

.intro-text {
    width: 1000px;
}

.intro-text h1 {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.intro-text h3 {
    margin-bottom: 0.5rem;
}

.vball {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    justify-content: center;
    align-items: center;
} 

.vball p {
    line-height: var(--line-height);
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    padding: 10px;
    color:#fff;

}

.play {
    color: var(--primary-color)
}

/*Buttons */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    height: 75%;
}

iframe {
    max-width: 50rem;
    border-top: 20px groove var(--primary-color);
    border-bottom: 20px groove var(--primary-color);
    border-right: 20px solid var(--primary-color);
    border-left: 20px solid var(--primary-color);
    border-radius: 50px;
}

/* Introduction */

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    gap: 20px;
}

hr {
    margin: 20px;
    padding: 1px;
    height: 1px;
    width: 60%;
    background-color:#000000;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Optional: if you want buttons to wrap in case of limited space */
    margin-top: 2rem;
    gap: 50px;
}

.map-btn, .events-btn, .wrk-btn, .chat-btn {
    background-color: #DC5F00;
    /* margin: 1.5rem; */
    display: inline-block;
    padding: 1.5rem;
    border: none;
    font-size: 2rem;
    border-radius: 60px;
    height: 150px;
    width: 200px;
}

.map-btn:hover, .events-btn:hover, .wrk-btn:hover, .chat-btn:hover {
    background-color: #000000;
    color: #DC5F00;
}

/* Remove the right margin for the last button to avoid extra space */
.button-container button:last-child {
    margin-right: 0;
}

